/****** GLOBAL *********/
body {
  margin: 0;
  background: #000000;
  width: 100vw;
  letter-spacing: 2px;
  color: white;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
h1 {
  font-family: "Roboto Condensed", Sans-Serif;
  font-size: 60px;
  font-weight: 700;
}
p {
  font-family: "Cabin", Sans-Serif;
  text-align: justify;
  font-size: 16px;
  margin-bottom: 0px;
}
strong, .date {
  font-size: 20px;
  font-family: "Roboto Condensed", Sans-Serif;
  line-height: 18px
}
strong {
  color: #ff0f54;
  font-weight: 700;
}
.date {
  color: gray;
}

/****** MAIN *********/
header {
  position: relative;
  display: flex;
  align-items: center;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.8),
      rgba(255, 15, 84, 0.9),
      rgb(0, 0, 0)
    ),
    url("./hero.jpg");
  justify-content: center;
  background-blend-mode: overlay;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
  height: 400px;
}
.fa-search {
  background: white;
  height: 100%;
  width: 100%;
}
.search {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.poster {
  height: 330px;
  width: 220px;
  background-image: linear-gradient(
    to bottom,
    rgba(255, 15, 84, 0.8),
    rgba(0, 0, 0, 0.5),
    rgba(255, 15, 84, 0.8)
  );
}
.red {
  background-color: rgba(255, 15, 84, 0.8);
  border-color: rgba(255, 15, 84, 0.8);
  color: white;
}
.btn,
.red,
.btn-secondary {
  font-size: 14px;
  margin-top: auto;
  width: 75px;
  font-weight: 700;
  letter-spacing: .5px;
}
.btn-secondary:hover {
  background-color: rgba(255, 15, 84, 0.8);
  -webkit-transition: 400ms;
  transition: 400ms;
  text-decoration: none;
}
button:focus,
button:active,
.btn-secondary:hover {
  outline: none;
}
.search-num {
  font-size: 16px;
  color: #bebebe;
}

/* ***** MOBILE ********* */
@media (max-width: 1440px) {
  p {
    font-size: 14px;
  }
  h1 {
    font-size: 40px;
  }
}
@media (max-width: 575.98px) {
  h1 {
    font-size: 28px;
  }
  strong,
  p,
  .date {
    text-align: justify;
  }
  .poster {
    margin-bottom: 1rem;
  }
  .poster,
  .overview,
  .overview2 {
    align-items: center;
  }
}
